# dependencies
node_modules

# build
out
*.vsix

# package lock
yarn.lock
package-json.lock
**/package-lock.json

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# TypeScript caches
**/*.tsbuildinfo