.npmignore
/src
/test
/out/test
/out/**/*.map
/e2e
/examples

/.vscode
/.github

tsconfig.json
tslint.json
.travis.yml
node_modules
*.test.js
*.js.map

CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
