.vscode/**
.github/**
__test__
**/*.test.*
src/**
**/*.map
*.vsix
coverage
core/*.ts

.prettierignore
.prettierrc.json
jest.config.js
.gitignore
.gitmodules
.eslintignore
.eslintrc.json

**/tsconfig*.json
typescript-deno-plugin
**/yarn.lock
**/package-lock.json
renovate.json

client/src
client/package.json

server/src
server/package.json

**/node_modules/**/**.d.ts
**/node_modules/**/**.md
**/node_modules/typescript-deno-plugin/src

screenshot/*