.vscode/**
.github/**
typings/**
out/test/**
test/**
src/**
**/*.map
*.vsix

node_modules
out/

images/**/*.gif
images/**/*.png

.gitattributes
.gitignore
.gitmodules
.appveyor.yml
.travis.yml
.npmrc
.yarnrc

tsconfig*.json
package-lock.json
webpack.config.js

CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md

vsc-extension-quickstart.md
