.vscode/**
.github/**
out/test/**
test/**
src/**
**/*.map
*.vsix
*.gif

.gitignore
.gitmodules

**/tsconfig*.json
typescript-deno-plugin
**/yarn.lock
**/package-lock.json
renovate.json

client/src
client/package.json

server/src
server/package.json

**/node_modules/**/**.d.ts
**/node_modules/**/**.md
**/node_modules/typescript-deno-plugin/src