/* Copyright 2018-2022 the Deno authors. All rights reserved. MIT license. */

body {
  background-color: transparent;
}

.path-input {
  display: block;
  flex: 1;
  width: 100%;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: none;
  padding: 0 0.6em;
}

.route-list {
  list-style: none;
  padding: 0;
}

.route-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0.2em 0.4em;
}

.route-entry:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.route-entry.selected {
  background-color: var(--vscode-list-activeSelectionBackground);
}
.route-entry a {
  text-decoration: none;
}

.route-entry a:hover {
  text-decoration: underline;
}

.route-entry.selected > a {
  background-color: var(--vscode-list-activeSelectionBackground);
}

.route-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
}

.route-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
  color: var(--vscode-descriptionForeground);
}
.route-label input {
  width: 40px;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: var(--vscode-input-border);
  padding: 0.1em 0.2em;
}

.icon {
  flex: none;
  display: block;
  margin-right: 0.2em;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.route-action {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}
input.route-param {
  color: rgb(193, 255, 207);
}
@media screen and (min-width: 280px) {
  .route-entry {
    flex-direction: row;
    align-items: center;
  }
  .route-action {
    justify-content: center;
  }
}
